body {
  background-color: blueviolet !important;
}
.align {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.form {
  animation-name: comeFromLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  backface-visibility: hidden;
}

.joke-col {
  animation-name: comeFromTop !important;
  animation-duration: 1s !important;
  animation-timing-function: ease-out !important;
  backface-visibility: hidden;
}

ul {
  margin-bottom: 0 !important;
}

nav p {
  margin-bottom: 0 !important;
}
.new-align {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.badge {
  cursor: pointer;
  transition: all 0.3s;
  background-color: black;
  margin-left: 5px;
}

.badge:hover {
  padding: 5px;
  background-color: blueviolet;
}
.row {
  margin: 0 !important;
}
.custom {
  display: flex;
  justify-content: center;
}
.custom input,
.custom button {
  display: inline !important;
}
.custom input {
  width: 70%;
}
.custom button {
  margin-left: 20px;
}
.custombtn {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  min-height: 200px;
  padding: 10px !important;
  overflow: scroll;
  align-items: center;
  justify-content: center;
  display: flex;
}

.card p {
  font-size: 1rem;
  text-align: center;
}

.navigation {
  display: flex !important;
  padding-top: 5px;
  align-items: center;
  justify-content: end !important;
}
.navigation li {
  color: blueviolet;
  text-decoration: none;
  list-style: none !important;
  display: inline-block !important;
}

@media (max-width: 767px) {
  .col-md-6 * {
    text-align: center;
  }
  .btn {
    width: 100%;
  }
  .contain {
    text-align: center;
  }
  .custom button {
    margin-left: 0px;
  }
  .custom input,
  .custom button {
    display: block !important;
  }
  .custom button {
    margin-top: 20px;
  }
  .custom input {
    width: 100%;
  }
  .custom {
    flex-direction: column;
  }
  .response .col-md-6 {
    padding: 0;
  }
  .align * {
    text-align: center !important;
  }
  .navbar {
    justify-content: center !important;
  }
}

@media (max-width: 546px) {
  p {
    margin-top: 20px !important;
    font-size: 1.2rem;
  }
}

@media (max-width: 370px) {
  .navbar-brand {
    display: block !important;
  }
  .navigation {
    justify-content: center !important;
    width: 100% !important;
  }
}
@keyframes comeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  50% {
    opacity: 0.5;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes comeFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  50% {
    opacity: 0.5;
    transform: translateX(-25px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
